.sidebar
  #sidebar
    / close .content-boxed
    .content-boxed
      %h2.title-bg Home Evaluation
      %ul.widget-listings
        %li
          %a{href: "home-evaluation"}
            .property-thumbnail
              %img{alt: "", src: "images/home-evaluation.png"}/
            .property-meta
              .listings-address-widget What's your home worth?
              .listings-street-widget Recent trends and home sales gives an accurate analysis of your homes worth.
              .listings-price-widget Get a home evaluation
            .clearfix
  #sidebar
    / close .content-boxed
    .content-boxed
      %h2.title-bg Mortgage Calculator
      %ul.widget-listings
        %li
          %a{href: "mortgage-calculator.html"}
            .property-thumbnail
              %img{alt: "", src: "images/mortgage-calculator.png"}/
            .property-meta
              .listings-address-widget What's your home worth?
              .listings-street-widget Before searching, find out how large of a mortgage you can comfortably afford.
              .listings-price-widget Calculate your mortgage
            .clearfix
  #sidebar
    / close .content-boxed
    .content-boxed
      %h2.title-bg Hot New Listings
      %ul.widget-listings
        %li
          %a{href: "just-listed.html"}
            .property-thumbnail
              %img{alt: "", src: "images/new-listing.png"}/
            .property-meta
              .listings-address-widget What's your home worth?
              .listings-street-widget You can be the first to view some of our new listing we just recently posted.
              .listings-price-widget Be the first to view new listings
            .clearfix
       
    .clearfix
  / close #sidebar
  .clearfix
.clearfix