#main
  .width-container
    #container-sidebar
      .content-boxed
        %h2.title-bg About Danielle
        .agent-post
          .agent-thumb
            %a{href: "agent-listings.html"}
              %img{alt: "", src: "images/agent-danielle.png"}/
          .agent-details
            %h5
              %a{href: "agent-listings.html"} Danielle
            %ul.fancy-list
              %li
                %span Mobile:
                (416) 268-1118
              %li
                %span Office:
                (416) 298-8200
              %li
                %span Fax:
                (416) 298-6602
          .agent-social
            .message-send
              %a.button.secondary-button{href: "#"} Contact Me
            / close .social-icons
          .clearfix
          %hr/
          %h4 Originally from Burlington now residing in the heart of Downtown Toronto
          %br
          %p I traded my suburban lifestyle for the many great things the big city has to offer.  My decision to take on Real Estate as a full-time career comes from my confidence, vitality, and passion for helping everyday people achieve their goals.  Whether helping you buy your dream home, investment residential or commercial property, or selling your property, the biggest reward is seeing the happiness and smiles on the faces of my clients and their families.  I strongly value the importance of listening to people's needs and wants and establishing a plan to get them to where they want to be.  My background in hospitality and health care has given me a big advantage and taught me how to be organized,  how to negotiate, communicate and provide the highest level of service and client care.  I firmly believe in providing superior care and attention to those in need of my services, and I will always go over and beyond what is expected of me as your Realtor, to ensure my clients have an uplifting experience rather than a stressful one.  My genuine and focused approach to Real Estate evokes a comfortable and confident feeling from all of my clients.

          %br
          %p Why Not Choose Danielle Desjardins As Your Realtor?  Backed By Century 21 Percy Fulton Brokerage, Ranked #1 Real Estate Office In All Of Canada Since 1990; Buy, Sell, Assign & Rent With A Realtor Who Always Delivers & Has What It Takes To Get The Job Done Right!  

      / close .content-boxed
    / close #container-sidebar
    = render "shared/sidebar"
  / close .width-container