#main
  .width-container
    #container-sidebar
      .content-boxed
        %h2.title-bg Listings by Agent Name
        .agent-post
          .agent-thumb
            %img{alt: "", src: "images/demo/agent-thumb.jpg"}/
          .agent-details
            %h6 Sub-title
            %ul.fancy-list
              %li
                %span Office:
                (800) 232-4444
              %li
                %span Mobile:
                (800) 456-5433
              %li
                %span Fax:
                (800) 432-5536
          .agent-social
            .message-send
              %a.button.secondary-button{href: "mailto:no-reply@progressionstudios.com"} Send a message
            .social-icons
              %a.facebook{href: "http://facebook.com", target: "_blank"} F
              %a.twitter{href: "https://twitter.com/Progression_S", target: "_blank"} t
              %a.skype{href: "http://skype.com", target: "_blank"} s
              %a.linkedin{href: "http://linkedin.com/", target: "_blank"} l
            / close .social-icons
          .clearfix
          .agent-bio
            %p Short bio... Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam in odio eros. Phasellus eleifend, tellus et vehicula vulputate, eros sapien vestibulum ipsum, vel sodales ipsum dolor non eros. In quis tortor id ante viverra accumsan. Sed viverra turpis placerat leo varius eget dignissim dui dignissim.
          .clearfix
          %hr/
        .property-listing
          .property-listing-thumb
            %a{href: "property-single.html"}
              %img{alt: "", src: "images/demo/property-thumbnail.jpg"}/
          .property-information
            .property-information-address
              %a{href: "property-single.html"} 256 Tree Hill Rd
            .property-information-location
              %a{href: "property-single.html"} Newcastle, PA 13785
            .property-information-price
              %a{href: "property-single.html"} $896,000
            .property-highlight
              .sq-highlight 3000m2
              .bed-higlight 5 bedrooms
              .bath-higlight 4 baths
            .property-highlight
              .garage-higlight 2 Car Garage
              .time-higlight Listed 6 days ago
            .clearfix
          / close property-information
          .clearfix
          .property-listing-base
            .grid2column
              .property-status
                Property Status:
                %a{href: "#"} For Rent
            .grid2column.lastcolumn
              %a.button.secondary-button{href: "property-single.html"} View Listing
            .clearfix
            %hr/
          / close .property-listing-base
        .property-listing
          .property-listing-thumb
            %a{href: "property-single.html"}
              %img{alt: "", src: "images/demo/property-thumbnail.jpg"}/
          .property-information
            .property-information-address
              %a{href: "property-single.html"} 256 Tree Hill Rd
            .property-information-location
              %a{href: "property-single.html"} Newcastle, PA 13785
            .property-information-price
              %a{href: "property-single.html"} $896,000
            .property-highlight
              .sq-highlight 3000m2
              .bed-higlight 5 bedrooms
              .bath-higlight 4 baths
            .property-highlight
              .garage-higlight 2 Car Garage
              .time-higlight Listed 6 days ago
            .clearfix
          / close property-information
          .clearfix
          .property-listing-base
            .grid2column
              .property-status
                Property Status:
                %a{href: "#"} For Rent
            .grid2column.lastcolumn
              %a.button.secondary-button{href: "property-single.html"} View Listing
            .clearfix
            %hr/
          / close .property-listing-base
        .clearfix
      / close .content-boxed
    / close #container-sidebar
    #sidebar
      .content-boxed
        %h2.title-bg Featured Listings
        %ul.widget-listings
          %li
            %a{href: "#"}
              .property-thumbnail
                %img{alt: "", src: "images/demo/widget-thumbnail.jpg"}/
              .property-meta
                .listings-address-widget 3200 Oak Rd
                .listings-street-widget Boulder, CO 25753
                .listings-price-widget $750,000
              .clearfix
          %li
            %a{href: "#"}
              .property-thumbnail
                %img{alt: "", src: "images/demo/widget-thumbnail.jpg"}/
              .property-meta
                .listings-address-widget 3200 Oak Rd
                .listings-street-widget Boulder, CO 25753
                .listings-price-widget $750,000
              .clearfix
          %li
            %a{href: "#"}
              .property-thumbnail
                %img{alt: "", src: "images/demo/widget-thumbnail.jpg"}/
              .property-meta
                .listings-address-widget 3200 Oak Rd
                .listings-street-widget Boulder, CO 25753
                .listings-price-widget $750,000
              .clearfix
          %li
            %a{href: "#"}
              .property-thumbnail
                %img{alt: "", src: "images/demo/widget-thumbnail.jpg"}/
              .property-meta
                .listings-address-widget 3200 Oak Rd
                .listings-street-widget Boulder, CO 25753
                .listings-price-widget $750,000
              .clearfix
      / close .content-boxed
      .content-boxed
        %h2.title-bg Social Networks
        .social-icons-widget
          %a.social-rss{href: "#", target: "_blank"} RSS
          %a.social-facebook{href: "http://facebook.com", target: "_blank"} Facebook
          %a.social-twitter{href: "http://twitter.com", target: "_blank"} Twitter
          %a.social-skype{href: "http://skype.com", target: "_blank"} skype
          %a.social-vimeo{href: "http://vimeo.com", target: "_blank"} Vimeo
          %a.social-linkedin{href: "http://linkedin.com", target: "_blank"} linkedin
          %a.social-dribbble{href: "http://dribbble.com", target: "_blank"} Dribbble
          %a.social-flickr{href: "http://flickr.com", target: "_blank"} flickr
          %a.social-forrst{href: "http://forrst.com", target: "_blank"} forrst
          %a.social-google{href: "http://google.com", target: "_blank"} google
          / a href="http://youtube.com" target="_blank" class="social-youtube">youtube</a
          .clearfix
        / close .social-icons
      / close .content-boxed
    / close #sidebar
    .clearfix
  / close .width-container