#main
  .width-container
    #container-sidebar
      .content-boxed
        %br
        %h1 Buying Property
        %br
        %h4 Are You Thinking About Buying Your Dream Home or Investment Property? 
        %br
        %p If you are in the market for a new home I can help you navigate in the complicated world of searching and finding the prefect home tailored to your specific needs. My objective is to find the perfect home, while negotiating the best price! 
        %br
        %p While at your side each step of the way, I will make the process of purchasing your home simple and pleasant at all times. I will help you locate and assess properties for sale that match your specifications and budget.
        %br
        %p Since I have full access to Multiple Listing Services (MLS), I will initially put together specific search criteria based on your desired home, budget, and neighbourhood, and district, and put you on my email list, for you to get immediate notification every time a property of your specific criteria comes on the market.  If something specific catches your eye, I will schedule a showing and appointment for you to see the property.I will also do my research and due diligence to ensure you are getting the best value for your purchase based on comparable properties that have sold within the neighbourhood.
        %br
        %p Always remember, as a purchaser of real estate, my services to you are 100% free of charge as I am compensated by the seller.
        %br
        %h4 Questions, comments?  Call me anytime!  Happy buying!
        %br
        .message-send
          %a.button.secondary-button{href: "mailto:no-reply@progressionstudios.com"} Contact Me Now!
        %br
        %br
        %h4 Bank vs. Mortgage Broker
        %br
        %p Who is best to handle your mortgage, the bank or the broker?  A Mortgage broker is always the better option.  Although you may have a relationship and you are comfortable with your bank, it is important that you obtain the lowest interest rate available on the market, to save thousands of dollars in interest.  If you are to apply for mortgage financing within your bank, your bank will do a credit check, and you will only have access to what that specific bank offers in terms of rates and mortgage products.  Each time a bank pulls your credit it will reduce your credit score.  The simple solution is to go with a Mortgage broker who has access to all major banks, and financial institutions, that way you have access to unpublished interest rates, and many more lending products based on your specific criteria.  The benefit is that a Mortgage broker only has to check your credit one time, and has the ability to shop your mortgage between more than 30 lenders, with only one credit pull.

    = render "shared/sidebar"
  / close .width-container