#main
  .width-container
    #container-sidebar
      .content-boxed
        %br
        %h1 Process of Buying
        %br
        %h4 The First Step
        %br
        %p The first step to buying a home is to ask yourself why you want to buy a home.  To stop paying rent?  To start building equity and put money back into your own pocket, instead of your landlord? To have a place of your own? To raise a family? To move up to a bigger house? 
        %br
        %p Next, list what kind of home you'd like and where you would like to be located. Be specific -- separate the "must haves" from the "want to haves."
        %br
        %p Think of yourself as zeroing in on a target, going from the general to the specific. Consider area (i.e. city, suburban neighbourhood); community (i.e. north, south, east, or west side); neighbourhood (i.e. older and settled or sparkling new; a particular school zone; recreational facilities; and other community services such as transportation, day care, library, stores, entertainment).  Ask yourself how many minutes you are willing to commute to work.  
        %br
        %p Think about the type of property you wish to live in. How much space do you need? Do you require a one-level home, or are stairs acceptable? Do you need a finished basement? Consider the size of the property. Do you want a newer home, or maybe an older one to fix up?  Consider how long you expect to live in this particular home.
        %br
        %h4 Your Next Step: Mortgage Financing Pre-Qualification
        %br
        %p Once you have addressed the above questions, your next step in the purchasing process is to get pre-qualified for a mortgage.  It's always best to know the numbers ahead of time.  A mortgage specialist can set your purchasing budget based on your credit, income, down payment and personal criteria.  In the pre-qualification process you will know what your budget for purchasing is, as well as what your monthly obligations will be.  Another major benefit is locking in a low interest rate for 90 - 120 days, while you shop for your new home.  
        %br
        %p Mortgage brokers in my network have access to more than 30 lenders including major banks, trust companies, and even private lenders and will shop your mortgage to get the lowest interest rate available in today's market.  Whether you have good credit, bad credit, no credit, previous bankruptcy, consumer proposal, collections, self-employed and don't declare too much income, new to Canada, permanent or temporary resident, there are mortgage financing options available based on your specific criteria.
        %br
        %p Please call me and I will gladly refer you to a Mortgage Professional with an excellent reputation among their lenders, and very strong track record for mortgage approval and funding, especially with the more complex files and situations.
        %br
        %h4 Next:  I Will Find The Right Home/Investment For You
        %br
        %p Once your mortgage financing has been pre-approved, and you determine your purchasing budget, I will narrow your property search criteria based on your desired location, school zone, property type, approved mortgage amount etc.  Also, a very important factor in the search for your desired property is your goal with the property.  Are you the end-user? Will you be living in the property? Are you purchasing for investment? Are you purchasing for short term or long term? Are you purchasing to build or do renovations?  Are you looking to flip a house? These factors play a very important role, as it is important for me to help achieve your Real Estate goals.  As I receive daily inside updates on the Real Estate market, it is important that we establish your goal from the beginning to pave the path to achieve your goals, and learn the best available options tailored to your specific needs.
        %br
        %p Due to my ongoing strong relationships with investors, realtors, market analysts, and builders I am able to pass very useful information to my clients to when deciding to purchase for personal use and for investment.
        %br
        %h5 Feel Free To Search Some Of The Listings Here.
        %br
        %h4 Finally: The Offer And Closing
        %br
        %p Once I have shown properties of interest to you, and you've made your decision with which property you are purchasing, the most crucial part of the process is the offer.  I will prepare an offer to the seller based on your desired purchase price, as well as the market value of the property.  I will use my strong negotiation and communication skills acquired throughout the years, to get you the best possible purchase price.  
        %br
        %p Once your offer has been accepted by the seller, I will arrange a property inspection by a licensed inspector to ensure the condition of the property is up to standard and will pass all inspection requirements.  Once your inspection and financing have been approved, we will waive all conditions and proceed with your purchase.
        %br
        %p The final step in your purchase is the closing, which is to be handled by a Real Estate Lawyer.  The lawyer will register your name on title of the property, register the mortgage charge on the land, ensure there are no liens on your property, as well as apply title insurance to protect you from any fraudulent activity against your property. If you don't have a lawyer, I will gladly refer you to a lawyer who is affordable and will get the job in a timely fashion to meet your closing date deadline.
        %br
        %p My top priority is to make sure that your home buying experience is pleasant, cost-efficient, and successful.
        %br
        %h4 Questions, comments?  Call me anytime!  Happy buying!
        %br

       
      / close .content-boxed
    = render "shared/sidebar"