#main
  .width-container
    #container-sidebar
      .content-boxed
        %br
        %h1 Closing Costs
        %br
        %h4 What closing costs can I expect?
        %br
        %p The cost of buying a home is more then just the purchase price of the home. There are many additional costs involved besides the mortgage itself. 
        %strong The rule of thumb is to set aside about 1.5 - 2% of the purchase price for closing costs.  
        %br
        %p While these vary depending on the situation, typical closing costs include: legal fees, land transfer taxes, insurance, appraisal fees, home inspection fees, moving costs, and any adjustments on closing (ex. taxes or water heater rental that the sellers have prepaid). These fees are typically handled by the lawyer at closing.
        %br
        %p Estimating the closing costs that will be involved in your purchase will allow you to include them in your budget, reducing any unanticipated expenses.  
        %br
        %h4 Questions, comments?  Call me anytime!  Happy buying!
        %br

       
      / close .content-boxed
    = render "shared/sidebar"
  
  / close .width-container