#main
  .width-container
    #container-sidebar
      .content-boxed
        %br
        %h1 Looking For A Great Deal?
        %br
        %h4 I can help you great properties that are under forclosure.
        %br
        %p Get notified when Foreclosure / Power of Sale properties become available. It's a great way to save big on your next home purchase. Just provide your contact details below to get started. Good luck and happy house hunting!
        %br
        %h4 Please fill out the form below!
        %br
        %p Please fill out the form below with your information and I will put you in touch with a trusted mortgage professional who will provide you with a depth of knowledge, show you properties under forclosure and will answer any questions you have!
        %br
        
        %h1 The basic form with Your First Name, Your Last Name, Your Email, Your Telephone, Message. 

    = render "shared/sidebar"
  / close .width-container