#main
  .width-container
    #container-sidebar
      .content-boxed
        %br
        %h1 Investing
        %br
        %h4 Purchasing An Investment Property? 
        %br
        %p Do you currently own your own home and wish to buy another property for investment purposes?  Depending on your current mortgage balance and your current property value, you may be able to refinance your current mortgage to take equity out of your property, and use the equity in your existing property as a down payment for your investment purchase.  Investors typically move money around to maximize their investment portfolio.Regardless of the equity in your property, your property will have the same gain in value.  Don't put all of your eggs into one basket.  You may be able to purchase a property with no money from your pocket, and therefore freeing up cash-flow for your everyday expenses.  
        %br
        %p As an investor in Real Estate, there are two factors that will make your investment most profitable.  The first factor is your property gaining in value, while the second factor is your mortgage principal balance being paid down.  Due to the hot rental market, I will bring a tenant for your property and do my due diligence in terms of credit check and ensuring they have full time employment to cover your rental costs.  While you have very little to no control over the market and the increase in the value of your property, you do however have control of your investment by placing a tenant in your property.  As a landlord, you are protected, as your tenant would have to typically give you 60 days notice if they wish to move out of your property, for which then I will put your property on the market for rent and ensure you have a new qualified tenant in your property the same day your existing tenant moves out.  While your tenant covers all of your carrying costs for the property including mortgage principal and interest, property tax, and maintenance, if applicable, your main profit comes from the increase in your property value, and your tenant paying down your mortgage principal balance.  When you decide to sell, you will have a much lower mortgage balance, and a higher property value.
        %br
        %h4 Questions, comments?  Call me anytime!  Happy buying!
        %br

       
      / close .content-boxed
    = render "shared/sidebar"
  / close .width-container