#main
  .width-container
    #container-sidebar
      .content-boxed
        %br
        %h1 Mortgage Calculator
        %br
        %h4 Before searching, find out how large of a mortgage you can comfortably afford.
        %br
        %p Obtaining the appropriate mortgage financing is the foundation to a successful Real Estate purchase.  Mortgage brokers in my network have access to more than 30 lenders including major banks, trust companies, and even private lenders and will shop your mortgage to get the lowest interest rate and mortgage product available in today's market.  Whether you have good credit, bad credit, no credit, previous bankruptcy, consumer proposal, collections, self-employed and don't declare too much income, new to Canada, permanent or temporary resident, there are mortgage financing options available based on your specific criteria

        %br
        %p You will find a useful mortgage calculator below that will give you the monthly payments that you could expect given your particular financing situation.
        %br
        %h4 I'd love to help you out!
        %br
        %p Please fill out the form below with your information and I will put you in touch with a trusted mortgage professional who will provide you with a depth of knowledge, explain all of your financing options and get you the best rate!
        %br
        
        %h1 Mortgage Calculator

        .ratehub{style: "max-width:825px;margin:0 auto;"}
          %h2{style: "margin-top:0"}
            %a{href: "http://www.ratehub.ca/mortgage-payment-calculator", style: "text-decoration:none;"} Mortgage payment calculator
          #payment-calc-widget  
          %div{style: "position:relative;height:20px;"}
            %div{style: "position:absolute;right:0px;top:-15px;"}
              Mortgage calculator by 
              %a{href: "http://www.ratehub.ca/", style: "text-decoration:none"}
                %img{alt: "ratehub.ca", src: "http://www.ratehub.ca/images/logo-small-right.png", style: "border:none"}/
          %script#payment-calc-script{src: "http://www.ratehub.ca/widgets/payment-calc.js?htmlid=payment-calc-widget&lang=en", type: "text/javascript"}

      / close .content-boxed
    = render "shared/sidebar"