#main
  .width-container
    .content-boxed
      %h2.title-bg Portfolio 2 Column
      %ul#child-pages
        %li
          %a.button.secondary-button{href: "#"} Web Design
        %li
          %a.button.secondary-button{href: "#"} Photography
        %li
          %a.button.secondary-button{href: "#"} Logos
      .clearfix
      .portfolio-post
        .grid2column
          .portfolio-image
            %a{href: "images/demo/portfolio-thumb.jpg", rel: "prettyphoto[gallery]"}
              %img{alt: "", src: "images/demo/portfolio-thumb.jpg"}/
          %h3
            %a{href: "portfolio-single.html"} Portfolio Item Title
          %p Aliquam placerat blandit neque sit amet congue. Etiam sit amet aliquam nisl. Nulla venenatis tempus ligula vel laoreet. Sed vulputate mattis pharetra...
          %hr/
      / close .portfolio-post
      .portfolio-post
        .grid2column.lastcolumn
          .portfolio-image
            %a{href: "images/demo/portfolio-thumb.jpg", rel: "prettyphoto[gallery]"}
              %img{alt: "", src: "images/demo/portfolio-thumb.jpg"}/
          %h3
            %a{href: "portfolio-single.html"} Portfolio Item Title
          %p Aliquam placerat blandit neque sit amet congue. Etiam sit amet aliquam nisl. Nulla venenatis tempus ligula vel laoreet. Sed vulputate mattis pharetra...
          %hr/
      / close .portfolio-post
      .clearfix
      .portfolio-post
        .grid2column
          .portfolio-image
            %a{href: "images/demo/portfolio-thumb.jpg", rel: "prettyphoto[gallery]"}
              %img{alt: "", src: "images/demo/portfolio-thumb.jpg"}/
          %h3
            %a{href: "portfolio-single.html"} Portfolio Item Title
          %p Aliquam placerat blandit neque sit amet congue. Etiam sit amet aliquam nisl. Nulla venenatis tempus ligula vel laoreet. Sed vulputate mattis pharetra...
          %hr/
      / close .portfolio-post
      .portfolio-post
        .grid2column.lastcolumn
          .portfolio-image
            %a{href: "images/demo/portfolio-thumb.jpg", rel: "prettyphoto[gallery]"}
              %img{alt: "", src: "images/demo/portfolio-thumb.jpg"}/
          %h3
            %a{href: "portfolio-single.html"} Portfolio Item Title
          %p Aliquam placerat blandit neque sit amet congue. Etiam sit amet aliquam nisl. Nulla venenatis tempus ligula vel laoreet. Sed vulputate mattis pharetra...
          %hr/
      / close .portfolio-post
      .clearfix
      .portfolio-post
        .grid2column
          .portfolio-image
            %a{href: "images/demo/portfolio-thumb.jpg", rel: "prettyphoto[gallery]"}
              %img{alt: "", src: "images/demo/portfolio-thumb.jpg"}/
          %h3
            %a{href: "portfolio-single.html"} Portfolio Item Title
          %p Aliquam placerat blandit neque sit amet congue. Etiam sit amet aliquam nisl. Nulla venenatis tempus ligula vel laoreet. Sed vulputate mattis pharetra...
          %hr/
      / close .portfolio-post
      .portfolio-post
        .grid2column.lastcolumn
          .portfolio-image
            %a{href: "images/demo/portfolio-thumb.jpg", rel: "prettyphoto[gallery]"}
              %img{alt: "", src: "images/demo/portfolio-thumb.jpg"}/
          %h3
            %a{href: "portfolio-single.html"} Portfolio Item Title
          %p Aliquam placerat blandit neque sit amet congue. Etiam sit amet aliquam nisl. Nulla venenatis tempus ligula vel laoreet. Sed vulputate mattis pharetra...
          %hr/
      / close .portfolio-post
      .clearfix
      .clearfix
    / close .content-boxed
    .clearfix
  / close .width-container