#main
  .width-container
    #container-sidebar
      .content-boxed
        %br
        %h1 Tips for Selling your Home Fast
        %br
        %h4 Here are the Top 10 Things to Do Before You List Your Home!
        %br
        %ul
          %li Complete any needed repair work! Needed repair work such as faulty plumbing, inadequate heating, electrical wiring problems, ceiling leakages, infestations, and other major issues should be resolved before selling or renting your home. Engage a professional today to ensure these issues are dealt with in a speedy and efficient manner. This is highly important as the selling price of a home is vastly devalued when such issues persist at the time of sale – the devaluation often being in excess of what it would cost to repair the issue. Moreover, many potential buyers might be prematurely turned away from purchasing because of the fear that the prevailing issue might be worsen, or be too inconvenient to inherit.
          %br
          %li Stay Organized! In preparation for the sale, ensure that you have all the relevant permits for the property, as they will be required during the sale. Schedule an appointment with your financial institution to ensure you are fully prepared to relocate personally following the sale. For instance, you will want to ensure that the remaining mortgage is transferrable and to determine any penalty fees associated with an early payout or refinancing. Ensure your current budget is sufficient to cover the current and projected expenses of your new home in a sustainable manner. To assist your buyer with projecting his/her future expenses, it is often required to have copies of utility bills for the home as far back as one year. To assist the buyer with understanding the maintenance and operations of the home any manufacturer manuals and associated warranties or appliances or systems should be provided. Most important, to be fully prepared get a Realtor (us!) to leverage our expertise and know-how.
          %br
          %li Improve the look of your home! It is natural to not notice the flaws and areas to be improved or enhanced in your home, after residing there for a while. A fresh pair of Realtor eyes will empower you with knowledge of how to magnify the value of your home by simple fixes and enhancements. Some simple fixes might be: leaking facets, incomplete grouting, and placing covers on electrical sockets. A simple enhancement can add lots of value.
          %br
          %li A fresh coat of paint! It is astonishing how much value the solitary act of painting your home has. It is the golden rule of home enhancement before selling, as attested by innumerable housing publications. As your Realtor, we at Desjardins Realty will recommend the best color schemes proven to attract buyers. For instance, in particular, lighter, calm, and modern colors tend to be the most captivating.
          %br
          %li Purge your junk! Unconsciously we all seem to garner more things that we can manageable organize and pack neatly. To impress potential buyers it is vital that you maximize the space and serenity within your home. Buyers tend to be interested in homes with a significant amount of storage,  and by simply removing unneeded things, or storing them offsite during the selling process, you will be maximizing the sale value of your home. Donating to community charities are a great way of putting unneeded things into appreciative hands.
          %br
          %li Cleanliness matters! First impressions are often long lasting when a potential buyer visits you home. It is therefore crucial that you do a thorough cleaning of home, or hire a professional company to do so, before engaging in the selling process. Some things that would be involved with a thorough internal cleaning would be polishing appliances and cleaning around and beneath them, tidying the furnace, shampooing carpets, shinning tiles, and removing soap scum from the grouting in the bathroom. An thorough external cleaning consists of a manicured lawn, perhaps via a landscaping company, and ensuring your snow is neatly plowed during the winter months.
          %br
          %li Responding to wear-and-tear! Naturally, over time and with frequent use appliances, carpeting, and some items of furniture become unbearably and irreparably worn down. In these instances even a good cleaning will not restore these things or areas to a decent state. Given this, rather than leave an eye soar within your home for sale, it might be economical to replace some things for a greater return in sale value. Consult with us at Dejardins Realty about which things should mandatorily be replaced and for suggestions on economical choices. 
          %br
          %li Detach yourself from your home! The cherished family pictures you have hang up over the years should be demounted from your walls and tables, and any personal documents should be placed away securely. Given a blank slate, the buyer can envision the possible for his or her family within the home.  
          %br
          %li Walk through with a fresh pair of eyes!  Following your cleaning, organizing, and enhancements, it is now time to review your performance. This is best done with the help of Desjardins Realty and by leaving the house for a bit, clearing your mind, and entering as if for the first time. Pay attention all your senses as you execute a full walk through of the home. Is everything visually appealing and manicured? Are there any lingering odors? Are there any unpleasant noise being made? All of these factors subconsciously influence the decision to buy.
          %br
          %li Engage a phenomenal Realty Agent! Desjardins Realty has a wealth of knowledge on the precise things to do to maximize the sale value of your home. We know how to get you home sold quickly at a handsome price while concurrently leaving the buyer ecstatic about the purchase. Contact Us today to establish a relationship, discuss next steps, and before you know it, to have your home sold!
        %p Just to list a few!
        %br
        %h4 Questions, comments?  Call me anytime!  Happy selling!
        %br

       
      / close .content-boxed
    = render "shared/sidebar"