#main
  .width-container
    #container-sidebar
      .content-boxed
        %br
        %h1 We can help you sell!
        %br
        %h4 Are Thinking Of Selling Your Home or Investment Property?
        %br
        %p If you've decided to sell your house, condo, commercial property, or raw land you have come to the right place!  Whether it's the first time you're listing your property for sale, or if you have experience in selling real estate, the dedication and long-term commitment you will receive, will help ensure a pleasant, successful and profitable experience.
        %br
        %p The days of sticking a sign on the lawn and hoping for a sale are long gone. With so much competition from other offices and many new mediums to expose your property, we embrace technology and constantly use new ways to market your home. Below are a just a few marketing strategies my team and I will do to obtain maximum value and exposure for your property:
        %ul
          %li Professional photography & Virtual Tour of your property
          %br
          %li Prepare professional full-colour property brochure with photos and remarks
          %br
          %li Market your property through our leading top ranked state of the art website
          %br
          %li List your property on MLS – Connects with over 1,000,000 buyers in Canada
          %br
          %li List your property on Realtor.ca- Connects with over 1,000,000 buyers in Canada
          %br
          %li List your property on our high traffic website, century21toronto.com and century21canada.com - Connects with over 1,000,000 buyers in  Canada 
          %br
          %li Handle all calls, inquiries and questions
          %br
          %li Advertise your home through online media e.g. Facebook, Twitter 
          %br
          %li Arrange showing appointments for potential buyers
        %p Just to list a few!
        %br
        %h4 Please fill out the form below
        %br

       
    / close .content-boxed
    = render "shared/sidebar"