%h1 Home Evaluation request from website

%dl
  %dt=Evaluation.human_attribute_name(:email)
  %dd=@evaluation.email
  %dt=Evaluation.human_attribute_name(:name)
  %dd=@evaluation.name
  %dt=Evaluation.human_attribute_name(:phone)
  %dd=@evaluation.phone
  %dt=Evaluation.human_attribute_name(:address)
  %dd=@evaluation.address
  %dt=Evaluation.human_attribute_name(:city)
  %dd=@evaluation.city
  %dt=Evaluation.human_attribute_name(:postal_code)
  %dd=@evaluation.postal_code
  %dt=Evaluation.human_attribute_name(:bedrooms)
  %dd=@evaluation.bedrooms
  %dt=Evaluation.human_attribute_name(:bathrooms)
  %dd=@evaluation.bathrooms
  %dt=Evaluation.human_attribute_name(:size)
  %dd=@evaluation.size
  %dt=Evaluation.human_attribute_name(:age)
  %dd=@evaluation.age
  %dt=Evaluation.human_attribute_name(:features)
  %dd=@evaluation.features
  %dt=Evaluation.human_attribute_name(:comments)
  %dd=@evaluation.comments
