%h1 Listings Subscription Request from Web site

%dl
  %dt=HotListing.human_attribute_name(:email)
  %dd=@hot_listing.email
  %dt=HotListing.human_attribute_name(:name)
  %dd=@hot_listing.name
  %dt=HotListing.human_attribute_name(:phone)
  %dd=@hot_listing.phone
  %dt=HotListing.human_attribute_name(:comments)
  %dd=@hot_listing.comments
