!!!
%html{lang: "en", "xml:lang" => "en", xmlns: "http://www.w3.org/1999/xhtml"}
  %head
    %meta{content: "text/html; charset=utf-8", "http-equiv" => "Content-Type"}/
    %script{charset: "utf-8", src: "https://ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.min.js", type: "text/javascript"}
    %script{charset: "utf-8", src: "specimen_files/easytabs.js", type: "text/javascript"}
    %link{charset: "utf-8", href: "specimen_files/specimen_stylesheet.css", rel: "stylesheet", type: "text/css"}/
    %link{charset: "utf-8", href: "stylesheet.css", rel: "stylesheet", type: "text/css"}/
    :css
      body{
      font-family: 'JustVector';
      		}
    %title Just Vector Regular Specimen
    %script{charset: "utf-8", type: "text/javascript"}
      :cdata
        $(document).ready(function() {
        $('#container').easyTabs({defaultContent:1});
        });
  %body
    #container
      #header
        Just Vector Regular
      %ul.tabs
        %li
          %a{href: "#specimen"} Specimen
        %li
          %a{href: "#layout"} Sample Layout
        %li
          %a{href: "#rendering"} Windows Rendering
        %li
          %a{href: "#glyphs"} Glyphs & Languages
        %li
          %a{href: "#installing"} Installing Webfonts
      #main_content
        #specimen
          .section
            .grid12.firstcol
              .huge AaBb
          .section
            .glyph_range A​B​C​D​E​F​G​H​I​J​K​L​M​N​O​P​Q​R​S​T​U​V​W​X​Y​Z​a​b​c​d​e​f​g​h​i​j​k​l​m​n​o​p​q​r​s​t​u​v​w​x​y​z​1​2​3​4​5​6​7​8​9​0​&​.​,​?​!​@​(​)​#​$​%​*​+​-​=​:​;
          .section
            .grid12.firstcol
              %table.sample_table
                %tr
                  %td 10
                  %td.size10 B
                %tr
                  %td 11
                  %td.size11 abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ0123456789abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ0123456789abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ
                %tr
                  %td 12
                  %td.size12 abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ0123456789abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ0123456789abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ
                %tr
                  %td 13
                  %td.size13 abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ0123456789abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ0123456789abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ
                %tr
                  %td 14
                  %td.size14 abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ0123456789abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ0123456789abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ
                %tr
                  %td 16
                  %td.size16 abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ0123456789abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ
                %tr
                  %td 18
                  %td.size18 abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ0123456789abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ
                %tr
                  %td 20
                  %td.size20 abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ0123456789abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ
                %tr
                  %td 24
                  %td.size24 abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ0123456789abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ
                %tr
                  %td 30
                  %td.size30 abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ0123456789abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ
                %tr
                  %td 36
                  %td.size36 abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ0123456789abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ
                %tr
                  %td 48
                  %td.size48 abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ0123456789abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ
                %tr
                  %td 60
                  %td.size60 abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ0123456789abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ
                %tr
                  %td 72
                  %td.size72 abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ0123456789abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ
                %tr
                  %td 90
                  %td.size90 abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ0123456789abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ
          #bodycomparison.section
            #xheight
              .fontbody body
              .arialbody body
              .verdanabody body
              .georgiabody body
            .fontbody{style: "z-index:1"}
              body
              %span Just Vector Regular
            .arialbody{style: "z-index:1"}
              body
              %span Arial
            .verdanabody{style: "z-index:1"}
              body
              %span Verdana
            .georgiabody{style: "z-index:1"}
              body
              %span Georgia
          .section.psample.psample_row1{id: ""}
            .grid2.firstcol
              %p.size10
                %span> 10.
                Aenean lacinia bibendum nulla sed consectetur. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Nullam id dolor id nibh ultricies vehicula ut id elit. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nulla vitae elit libero, a pharetra augue.
            .grid3
              %p.size11
                %span> 11.
                Aenean lacinia bibendum nulla sed consectetur. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Nullam id dolor id nibh ultricies vehicula ut id elit. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nulla vitae elit libero, a pharetra augue.
            .grid3
              %p.size12
                %span> 12.
                Aenean lacinia bibendum nulla sed consectetur. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Nullam id dolor id nibh ultricies vehicula ut id elit. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nulla vitae elit libero, a pharetra augue.
            .grid4
              %p.size13
                %span> 13.
                Aenean lacinia bibendum nulla sed consectetur. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Nullam id dolor id nibh ultricies vehicula ut id elit. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nulla vitae elit libero, a pharetra augue.
            .white_blend
          .section.psample.psample_row2{id: ""}
            .grid3.firstcol
              %p.size14
                %span> 14.
                Aenean lacinia bibendum nulla sed consectetur. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Nullam id dolor id nibh ultricies vehicula ut id elit. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nulla vitae elit libero, a pharetra augue.
            .grid4
              %p.size16
                %span> 16.
                Aenean lacinia bibendum nulla sed consectetur. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Nullam id dolor id nibh ultricies vehicula ut id elit. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nulla vitae elit libero, a pharetra augue.
            .grid5
              %p.size18
                %span> 18.
                Aenean lacinia bibendum nulla sed consectetur. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Nullam id dolor id nibh ultricies vehicula ut id elit. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nulla vitae elit libero, a pharetra augue.
            .white_blend
          .section.psample.psample_row3{id: ""}
            .grid5.firstcol
              %p.size20
                %span> 20.
                Aenean lacinia bibendum nulla sed consectetur. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Nullam id dolor id nibh ultricies vehicula ut id elit. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nulla vitae elit libero, a pharetra augue.
            .grid7
              %p.size24
                %span> 24.
                Aenean lacinia bibendum nulla sed consectetur. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Nullam id dolor id nibh ultricies vehicula ut id elit. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nulla vitae elit libero, a pharetra augue.
            .white_blend
          .section.psample.psample_row4{id: ""}
            .grid12.firstcol
              %p.size30
                %span> 30.
                Aenean lacinia bibendum nulla sed consectetur. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Nullam id dolor id nibh ultricies vehicula ut id elit. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nulla vitae elit libero, a pharetra augue.
            .white_blend
          .section.psample.psample_row1.fullreverse
            .grid2.firstcol
              %p.size10
                %span> 10.
                Aenean lacinia bibendum nulla sed consectetur. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Nullam id dolor id nibh ultricies vehicula ut id elit. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nulla vitae elit libero, a pharetra augue.
            .grid3
              %p.size11
                %span> 11.
                Aenean lacinia bibendum nulla sed consectetur. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Nullam id dolor id nibh ultricies vehicula ut id elit. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nulla vitae elit libero, a pharetra augue.
            .grid3
              %p.size12
                %span> 12.
                Aenean lacinia bibendum nulla sed consectetur. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Nullam id dolor id nibh ultricies vehicula ut id elit. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nulla vitae elit libero, a pharetra augue.
            .grid4
              %p.size13
                %span> 13.
                Aenean lacinia bibendum nulla sed consectetur. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Nullam id dolor id nibh ultricies vehicula ut id elit. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nulla vitae elit libero, a pharetra augue.
            .black_blend
          .section.psample.psample_row2.fullreverse
            .grid3.firstcol
              %p.size14
                %span> 14.
                Aenean lacinia bibendum nulla sed consectetur. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Nullam id dolor id nibh ultricies vehicula ut id elit. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nulla vitae elit libero, a pharetra augue.
            .grid4
              %p.size16
                %span> 16.
                Aenean lacinia bibendum nulla sed consectetur. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Nullam id dolor id nibh ultricies vehicula ut id elit. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nulla vitae elit libero, a pharetra augue.
            .grid5
              %p.size18
                %span> 18.
                Aenean lacinia bibendum nulla sed consectetur. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Nullam id dolor id nibh ultricies vehicula ut id elit. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nulla vitae elit libero, a pharetra augue.
            .black_blend
          .section.psample.fullreverse.psample_row3{id: ""}
            .grid5.firstcol
              %p.size20
                %span> 20.
                Aenean lacinia bibendum nulla sed consectetur. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Nullam id dolor id nibh ultricies vehicula ut id elit. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nulla vitae elit libero, a pharetra augue.
            .grid7
              %p.size24
                %span> 24.
                Aenean lacinia bibendum nulla sed consectetur. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Nullam id dolor id nibh ultricies vehicula ut id elit. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nulla vitae elit libero, a pharetra augue.
            .black_blend
          .section.psample.fullreverse.psample_row4{id: "", style: "border-bottom: 20px #000 solid;"}
            .grid12.firstcol
              %p.size30
                %span> 30.
                Aenean lacinia bibendum nulla sed consectetur. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Nullam id dolor id nibh ultricies vehicula ut id elit. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nulla vitae elit libero, a pharetra augue.
            .black_blend
        #layout
          .section
            .grid12.firstcol
              %h1 Lorem Ipsum Dolor
              %h2 Etiam porta sem malesuada magna mollis euismod
              %p.byline
                By
                %a{href: "#link"} Aenean Lacinia
          .section
            .grid8.firstcol
              %p.large Donec sed odio dui. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.
              %h3 Pellentesque ornare sem
              %p Maecenas sed diam eget risus varius blandit sit amet non magna. Maecenas faucibus mollis interdum. Donec ullamcorper nulla non metus auctor fringilla. Nullam id dolor id nibh ultricies vehicula ut id elit. Nullam id dolor id nibh ultricies vehicula ut id elit.
              %p Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
              %p Nulla vitae elit libero, a pharetra augue. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Aenean lacinia bibendum nulla sed consectetur.
              %p Nullam quis risus eget urna mollis ornare vel eu leo. Nullam quis risus eget urna mollis ornare vel eu leo. Maecenas sed diam eget risus varius blandit sit amet non magna. Donec ullamcorper nulla non metus auctor fringilla.
              %h3 Cras mattis consectetur
              %p Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Aenean lacinia bibendum nulla sed consectetur. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Cras mattis consectetur purus sit amet fermentum.
              %p Nullam id dolor id nibh ultricies vehicula ut id elit. Nullam quis risus eget urna mollis ornare vel eu leo. Cras mattis consectetur purus sit amet fermentum.
            .grid4.sidebar
              .box.reverse
                %p.last Nullam quis risus eget urna mollis ornare vel eu leo. Donec ullamcorper nulla non metus auctor fringilla. Cras mattis consectetur purus sit amet fermentum. Sed posuere consectetur est at lobortis. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
              %p.caption Maecenas sed diam eget risus varius.
              %p Vestibulum id ligula porta felis euismod semper. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Vestibulum id ligula porta felis euismod semper. Sed posuere consectetur est at lobortis. Maecenas sed diam eget risus varius blandit sit amet non magna. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.
              %p Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Aenean lacinia bibendum nulla sed consectetur. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Aenean lacinia bibendum nulla sed consectetur. Nullam quis risus eget urna mollis ornare vel eu leo.
              %p Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Donec ullamcorper nulla non metus auctor fringilla. Maecenas faucibus mollis interdum. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.
        #rendering
          .section
            .grid12.firstcol
              %h1 ClearType (GDI)
              %p
                %img{src: "specimen_files/justvectorv2-cleartype.png"}/
        #glyphs
          .section
            .grid12.firstcol
              %h1 Language Support
              %p
                The subset of Just Vector Regular in this kit supports the following languages:
                %br/
                English
              %h1 Glyph Chart
              %p The subset of Just Vector Regular in this kit includes all the glyphs listed below. Unicode entities are included above each glyph to help you insert individual characters into your layout.
              #glyph_chart
                %div
                  %p> A
                  A
                %div
                  %p> B
                  B
                %div
                  %p> C
                  C
                %div
                  %p> D
                  D
                %div
                  %p> E
                  E
                %div
                  %p> F
                  F
                %div
                  %p> G
                  G
                %div
                  %p> H
                  H
                %div
                  %p> I
                  I
                %div
                  %p> J
                  J
                %div
                  %p> K
                  K
                %div
                  %p> M
                  M
                %div
                  %p> N
                  N
                %div
                  %p> L
                  L
                %div
                  %p> O
                  O
                %div
                  %p> P
                  P
                %div
                  %p> Q
                  Q
                %div
                  %p> R
                  R
                %div
                  %p> S
                  S
                %div
                  %p> T
                  T
                %div
                  %p> U
                  U
                %div
                  %p> V
                  V
                %div
                  %p> W
                  W
                %div
                  %p> X
                  X
                %div
                  %p> Y
                  Y
                %div
                  %p> Z
                  Z
                %div
                  %p> a
                  a
                %div
                  %p> b
                  b
                %div
                  %p> c
                  c
                %div
                  %p> d
                  d
                %div
                  %p> e
                  e
                %div
                  %p> f
                  f
                %div
                  %p> g
                  g
                %div
                  %p> h
                  h
                %div
                  %p> i
                  i
                %div
                  %p> j
                  j
                %div
                  %p> k
                  k
                %div
                  %p> m
                  m
                %div
                  %p> n
                  n
                %div
                  %p> l
                  l
                %div
                  %p> o
                  o
                %div
                  %p> p
                  p
                %div
                  %p> q
                  q
                %div
                  %p> r
                  r
                %div
                  %p> s
                  s
                %div
                  %p> t
                  t
                %div
                  %p> u
                  u
                %div
                  %p> v
                  v
                %div
                  %p> w
                  w
                %div
                  %p> x
                  x
                %div
                  %p> y
                  y
                %div
                  %p> z
                  z
                %div
                  %p> 1
                  1
                %div
                  %p> 2
                  2
                %div
                  %p> 3
                  3
                %div
                  %p> 4
                  4
                %div
                  %p> 5
                  5
                %div
                  %p> 6
                  6
                %div
                  %p> 7
                  7
                %div
                  %p> 8
                  8
                %div
                  %p> 9
                  9
                %div
                  %p> 0
                  0
        #specs
        #installing
          .section
            .grid7.firstcol
              %h1 Installing Webfonts
              %p Webfonts are supported by all major browser platforms but not all in the same way. There are currently four different font formats that must be included in order to target all browsers. This includes TTF, WOFF, EOT and SVG.
              %h2 1. Upload your webfonts
              %p You must upload your webfont kit to your website. They should be in or near the same directory as your CSS files.
              %h2 2. Include the webfont stylesheet
              %p
                A special CSS @font-face declaration helps the various browsers select the appropriate font it needs without causing you a bunch of headaches. Learn more about this syntax by reading the
                %a{href: "http://www.fontspring.com/blog/further-hardening-of-the-bulletproof-syntax"} Fontspring blog post
                about it. The code for it is as follows:
              %code
                @font-face {
                font-family: 'JustVector';
                src: url('justvectorv2-webfont.eot');
                src: url('justvectorv2-webfont.eot?#iefix') format('eot'),
                url('justvectorv2-webfont.woff') format('woff'),
                url('justvectorv2-webfont.ttf') format('truetype'),
                url('justvectorv2-webfont.svg#webfontkw9J4lGf') format('svg');
                font-weight: normal;
                font-style: normal;
                }
              %p We've already gone ahead and generated the code for you. All you have to do is link to the stylesheet in your HTML, like this:
              %code <link rel="stylesheet" href="stylesheet.css" type="text/css" charset="utf-8" />
              %h2 3. Modify your own stylesheet
              %p To take advantage of your new fonts, you must tell your stylesheet to use them. Look at the original @font-face declaration above and find the property called "font-family." The name linked there will be what you use to reference the font. Prepend that webfont name to the font stack in the "font-family" property, inside the selector you want to change. For example:
              %code p { font-family: 'JustVector', Arial, sans-serif; }
              %h2 4. Test
              %p
                Getting webfonts to work cross-browser
                %em can
                be tricky. Use the information in the sidebar to help you if you find that fonts aren't loading in a particular browser.
            .grid5.sidebar
              .box
                %h2
                  Troubleshooting
                  %br>/
                  Font-Face Problems
                %p Having trouble getting your webfonts to load in your new website? Here are some tips to sort out what might be the problem.
                %h3 Fonts not showing in any browser
                %p This sounds like you need to work on the plumbing. You either did not upload the fonts to the correct directory, or you did not link the fonts properly in the CSS. If you've confirmed that all this is correct and you still have a problem, take a look at your .htaccess file and see if requests are getting intercepted.
                %h3 Fonts not loading in iPhone or iPad
                %p The most common problem here is that you are serving the fonts from an IIS server. IIS refuses to serve files that have unknown MIME types. If that is the case, you must set the MIME type for SVG to "image/svg+xml" in the server settings. Follow these instructions from Microsoft if you need help.
                %h3 Fonts not loading in Firefox
                %p The primary reason for this failure? You are still using a version Firefox older than 3.5. So upgrade already! If that isn't it, then you are very likely serving fonts from a different domain. Firefox requires that all font assets be served from the same domain. Lastly it is possible that you need to add WOFF to your list of MIME types (if you are serving via IIS.)
                %h3 Fonts not loading in IE
                %p Are you looking at Internet Explorer on an actual Windows machine or are you cheating by using a service like Adobe BrowserLab? Many of these screenshot services do not render @font-face for IE. Best to test it on a real machine.
                %h3 Fonts not loading in IE9
                %p IE9, like Firefox, requires that fonts be served from the same domain as the website. Make sure that is the case.
      #footer
        %p ©2010-2011 Font Squirrel. All rights reserved.